<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>lolnet MinecraftPing</name>

<description>
A simple app that shows lolnet.co.nz's server status!
</description>

<author href="http://www.lolnet.co.nz" email="cptwin@lolnet.co.nz">
CptWin
</author>

</widget>
